[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
keras = "*"
tensorflow = "*"
pandas = "*"
subject-classification-spanish = "*"
numpy = "*"
sklearn = "*"
altair = "*"
fbprophet = "*"
ipython = "*"
sentiment-analysis-spanish = "*"
matplotlib = "*"
statsmodels = "*"
"sklearn.utils" = "*"

[requires]
python_version = "3.7"
